<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}{{ SITENAME|striptags }}{% endblock title %}</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="stylesheet" href="{{ SITEURL }}/theme/style-202507261729.css">
    {% endblock %}
  </head>
  <body>
    <header class="logo tw:flex tw:flex-row tw:items-center tw:mx-[auto] tw:max-w-[1100px] tw:py-2 tw:px-4 tw:md:px-8 tw:m-0 tw:md:mb-2">
      {% block header %}
        <h1 class="tw:m-0">
          <a href="{{ SITEURL }}/">{{ SITEUNICODENAME }}</a>
        </h1>
      {% endblock header %}
      <div id="color-scheme-selector" class="tw:ml-4 tw:flex tw:space-x-2">
        <button type="button" onclick="document.documentElement.setAttribute('data-color-scheme', 'auto');" aria-label="Auto mode">
          <svg focusable="false" aria-hidden="true"><use href="{{ SITEURL }}/theme/svg/AutoMode.svg"></use></svg>
        </button>
        <button type="button" onclick="document.documentElement.setAttribute('data-color-scheme', 'light');" aria-label="Light mode">
          <svg focusable="false" aria-hidden="true"><use href="{{ SITEURL }}/theme/svg/LightMode.svg"></use></svg>
        </button>
        <button type="button" onclick="document.documentElement.setAttribute('data-color-scheme', 'dark');" aria-label="Dark mode">
          <svg focusable="false" aria-hidden="true"><use href="{{ SITEURL }}/theme/svg/DarkMode.svg"></use></svg>
        </button>
      </div>
      <div class="tw:grow"></div>
      {% block nav %}
        <nav>
          <ul class="tw:flex tw:flex-row tw:gap-4 tw:max-w-[90%] tw:list-none">
            {% for title, link in MENUITEMS %}
              <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in pages %}
                <li><a href="{{ SITEURL }}/{{ p.url }}" {% if p==page %} aria-current="page" {% endif %}>{{ p.title }}</a></li>
              {% endfor %}
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
              {% for cat, null in categories %}
                <li><a href="{{ SITEURL }}/{{ cat.url }}" {% if cat==category %} aria-current="page" {% endif %}>{{ cat}}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </nav>
      {% endblock nav %}
    </header>
    <main class="tw:p-4 tw:md:p-8">
      {% block content %}{% endblock %}
    </main>
    <footer>
      <p>&copy; {{ COPYRIGHT_YEAR }} {{ COPYRIGHT_NAME }}</p>
      <p>Content licensed under the Creative Commons
        attribution-noncommercial-sharealike License.</p>
    </footer>
    <script src="{{ SITEURL }}/theme/js/section_anchor.js"></script>
  </body>
</html>

{# Local Variables: #}
{# mode: jinja2 #}
{# End: #}
